@using WebshopService.Models;
@model WebShop.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Order</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="CustomerId">Customer:</label>
        <select class="form-control" id="CustomerId" name="CustomerId" required>
            @foreach (var customer in (List<Customer>)ViewBag.Customers)
            {
                <option value="@customer.CustomerId">@customer.Name, @customer.Firstname, @customer.EmailAddress</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AdditionalInfo">Additional Info:</label>
        <textarea class="form-control" for="AdditionalInfo" id="AdditionalInfo" name="AdditionalInfo" required></textarea>
    </div>

    <div class="form-group">
        <label>Products:</label><br />
        @foreach (var product in (List<Product>)ViewBag.AllProducts)
        {
            <input type="checkbox" name="selectedProducts" value="@product.ProductId" /> @product.Label <br />
        }
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-success" href="/OrdersMVC">Back</a>
</form>
